p {
    margin: 0;
}

.SignUp-Form {
    padding: 20px;
    min-height: 65vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Form-Title {
    font-size: x-large;
}

.SignUp-Form > form {
    min-height: 35vh;
    width: 40vw;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Input-Fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
}

.Input-Field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
}

.Input-Field > input {
    margin-top: 5px;
    height: 2rem;
    width: 100%;
}

.Radio-Field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
}

.Radio-Btns {
    display: flex;
}

.Radio-Btn {
    margin: 0 5px;
}

.Submit {
    margin-left: auto;
}

.Submit-Btn {
    display: table-cell;
    background-color: #012c78;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
}

.Log-In {
    display: flex;
    flex-direction: row;
}

.Log-In > a {
    color: #012c78;
    margin: 0 5px;
    font-weight: 500;
}

.Log-In > a:hover {
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .Login-Form > form {
        width: 90vw;
    }
}
